@import '../../css/bootstrap.css';
@import '../../css/theme.css';

.login-bg {
    background-color: rgba(0, 0, 0, 0);
    background-position: initial;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: url("/assets/img/inner-6.jpg");
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
    opacity: 1;
}

.register-bg {
    background-color: rgba(0, 0, 0, 0);
    background-position: initial;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: url("/assets/img/inner-7.jpg");
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
    opacity: 1;
}
textarea{
    height: 300px;
}
